@import 'tailwindcss';

@theme {
  /* ============ FONTS ============ */
  --font-sans: 'Reddit Sans', ui-sans-serif, system-ui, sans-serif;
  /* ============ COLOURS ============ */
  --color-neutral-900: #21214d;
  --color-neutral-600: #57577b;
  --color-neutral-300: #9393b7;
  --color-neutral-200: #cbcdd0;
  --color-neutral-0: #ffffff;

  --color-blue-700: #2a4cd5;
  --color-blue-600: #4865db;
  --color-blue-300: #89caff;
  --color-blue-200: #c7d3f7;
  --color-blue-100: #e0e6fa;

  --color-red-700: #e60013;
  --color-red-300: #ff9b99;

  --color-indigo-200: #b8b1ff;
  --color-green-300: #89e780;
  --color-amber-300: #ffc97c;

  --background-image-light-gradient: linear-gradient(180deg, #f5f5ff 72.99%, #e0e0ff 100%);
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    color: var(--color-neutral-900);
  }

  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }

  input {
    @apply rounded-md py-3 px-4;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    @apply outline-none border border-neutral-300 bg-neutral-0 hover:border-neutral-600
    focus-visible:ring-2 focus-visible:ring-offset-3 focus-visible:ring-blue-600
    transition-colors placeholder:text-neutral-600 focus:ring-0;
  }
}

@layer utilities {
  /* ============ TEXT PRESET 1 ============ */
  .text-preset-1 {
    @apply font-bold text-[46px]/[1.2] tracking-[-2px] md:text-[52px]/[1.4];
  }

  /* ============ TEXT PRESET 2 ============ */
  .text-preset-2 {
    @apply font-bold text-[32px]/[1.2] tracking-[-0.3px] md:text-[40px]/[1.2];
  }

  /* ============ TEXT PRESET 3 ============ */
  .text-preset-3 {
    @apply font-bold text-[28px]/[1.3] tracking-[-0.3px] md:text-[32px]/[1.4];
  }

  /* ============ TEXT PRESET 4 SEMIBOLD ============ */
  .text-preset-4 {
    @apply font-semibold text-[24px]/[1.4] tracking-[0px];
  }

  /* ============ TEXT PRESET 4 REGULAR ============ */
  .text-preset-4-regular {
    @apply font-normal text-[24px]/[1.4] tracking-[0px];
  }

  /* ============ TEXT PRESET 5 ============ */
  .text-preset-5 {
    @apply font-semibold text-[20px]/[1.4] tracking-[0px];
  }

  /* ============ TEXT PRESET 6 ============ */
  .text-preset-6 {
    @apply font-medium text-[18px]/[1.2] tracking-[0px];
  }

  /* ============ TEXT PRESET 6 Italic ============ */
  .text-preset-6-italic {
    @apply font-medium italic text-[18px]/[1.3] tracking-[0px];
  }

  /* ============ TEXT PRESET 6 Regular ============ */
  .text-preset-6-regular {
    @apply font-normal text-[18px]/[1.4] tracking-[-0.3px];
  }

  /* ============ TEXT PRESET 7 ============ */
  .text-preset-7 {
    @apply font-normal text-[15px]/[1.4] tracking-[-0.3px];
  }

  /* ============ TEXT PRESET 8 ============ */
  .text-preset-8 {
    @apply font-semibold text-[13px]/[1] tracking-[0px];
  }

  /* ============ TEXT PRESET 9 ============ */
  .text-preset-9 {
    @apply font-normal text-[12px]/[1.1] tracking-[0px];
  }

  /* ============ Buttons ============ */

  .primary_btn {
    @apply bg-blue-600 text-white hover:bg-blue-700 disabled:bg-blue-200;
  }

  .secondary_btn {
    @apply bg-white text-neutral-900 border border-neutral-300 hover:border-neutral-900 focus:border-neutral-600 disabled:opacity-50;
  }


}
